* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: black;
}

main {
	background-color: white;
	border-radius: 8px;
	padding: 1em;
}

input {
	width: 100%;
	border-radius: 8px;
	border: 1px solid #5c5c5c;
	height: 32px;
	padding: 0 0.5em;
}

label {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto;
	gap: 1em;
}

label > input,
.label-input {
	width: 200px;
}

label > input,
.label-input {
	width: 200px;
}

label > select {
	height: 32px;
	border-radius: 4px;
}

/* styling */
h2 {
	font-weight: bold;
	font-size: 9pt;
	padding: 0.3rem 0;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.grid {
	display: grid;
}

.gap-05 {
	gap: 0.5em;
}

.gap-1 {
	gap: 1em;
}

.gap-2 {
	gap: 2em;
}

.col-2 {
	grid-template-columns: repeat(2, 1fr);
}

.col-3 {
	grid-template-columns: repeat(3, 1fr);
}

.col-5 {
	grid-template-columns: repeat(5, 1fr);
}

.col-12 {
	grid-template-columns: repeat(12, 1fr);
}

/* .col-5 {
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
} */

.col-1-auto {
	grid-template-columns: 1fr auto;
}

.col-auto-1 {
	grid-template-columns: auto 1fr;
}

.row-1-auto {
	grid-template-rows: 1fr auto;
}

.p-05 {
	padding: 0.5rem;
}

.p-1 {
	padding: 1rem;
}

.px-1 {
	padding: 0 1rem;
}

.p-2 {
	padding: 2rem;
}

.my-05 {
	margin: 0.5em 0;
}

.mt-1 {
	margin-top: 1em;
}

.mb-1 {
	margin-bottom: 1em;
}

.mb-05 {
	margin-bottom: 0.5em;
}

.mt-05 {
	margin-top: 0.5em;
}

.rounded {
	border-radius: 4px;
}

.bold {
	font-weight: bold !important;
}

.w-full {
	width: 100%;
}

.breakdown {
	overflow-x: scroll;
	display: flex;
}

.border-none {
	border: none;
}

.row-center td,
.row-center th {
	text-align: center;
}

.row-p-1 td,
.row-p-1 th {
	padding: 1em;
}

.row-p-05 td,
.row-p-05 th {
	padding: 0.5em;
}

.legend {
	font-size: 9pt;
	font-weight: normal;
}

.legend.green {
	color: green;
}

/* custom */
button:disabled,
button[disabled] {
	background-color: #cccccc !important;
	color: #666666;
	cursor: no-drop;
}

.complete-check span {
	background-color: #27c74a3d;
	border: 1px dotted #27c74a;
	color: #1a792e;
	font-weight: bold;
}

.red {
	color: red;
}

.bg-lred {
	background-color: #f2dcdb;
}

.bg-lorange {
	background-color: #fde9d9;
}

.bg-gray {
	background-color: #cecece;
}

.bg-lgray {
	background-color: #cecece71;
}

.bg-red {
	background-color: red;
	color: white;
}

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-space {
	justify-content: space-between;
}

.place-center {
	place-items: center;
}

.dotted-box {
	background-color: #8080801e;
	border: 1px dotted gray;
	min-height: 32px;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
	border-radius: 4px;
}

.border {
	border: 1px solid black;
}

.border-white {
	border: 1px solid white;
}

.margin-contianer input {
	height: 21.5px;
	text-align: center;
	border: 1px solid white;
	border-radius: 4px;
}

.corn-use-table {
	font-weight: bold;
	overflow: hidden;
}

.corn-use-table tr:nth-child(2n) {
	background-color: #1560821c;
}

.corn-use-table th {
	background-color: #156082;
	text-align: center;
	color: white;
}

.corn-use-table th,
.corn-use-table td {
	padding: 2px;
}

.corn-use-table th:nth-child(2),
.corn-use-table td:nth-child(2) {
	text-align: center;
	width: 200px;
}

.references-tables {
	margin-top: 0.5em;
	overflow: hidden;
	border: 1px solid red;
}

.references-tables th,
.references-tables td {
	padding: 2px;
	border: 1px solid #80808057;
}

.references-tables th {
	background-color: gray;
	color: white;
	text-align: center;
	font-weight: 500;
}

.references-tables tr:nth-child(2n) {
	background-color: #80808057;
}

.references-tables th:nth-child(1) {
	width: 150px;
}

.references-tables tr > td:nth-child(3) {
	text-align: center;
}

table input {
	height: auto;
	border: none;
	padding: 0 0 0 4px;
	border-radius: 0;
	outline: none;
	width: 100%;
	background-color: transparent;
}

/* Vertical Table */
.h-table {
	display: grid;
	grid-template-columns: auto 1fr auto;
}

/* .h-table .col {
	
} */

.h-table .row {
	border: 1px solid #80808021;
	padding: 0.1em 0.2em;
	min-width: 100px;
}

.average-results .row {
	min-width: 90px;
}

.supplies-table {
	overflow: hidden;
}

.supplies-table th,
.supplies-table td {
	border: 1px solid gray;
	padding: 0.1em;
	text-align: center;
}

.supplies-table th,
.supplies-table p {
	background-color: gray;
	color: white;
	font-weight: normal;
}

.supplies-table p + p {
	border-top: 1px solid white;
}

.supplies-table tr:nth-child(2n) {
	background-color: #b9b9b931;
}

.supplies-table tr:nth-child(2n + 1) {
	background-color: #b9b9b99f;
}

.summary-table th,
.summary-table td {
	border: 1px solid #b9b9b99f;
}

button {
	border: none;
	padding: 0.5em 0.8em;
	border-radius: 4px;
	transition: all 350ms ease-out;
}

button.regular {
	background-color: #0250d9;
	color: white;
}

button.regular:hover:not([disabled]) {
	background-color: #0251d936;
	color: #0250d9;
	font-weight: bold;
	transition: all 150ms ease-in;
}

/* link */
.link-container h1 {
	font-weight: bold;
	font-size: 14pt;
	margin: 0;
}

.link-container p {
	font-size: 12pt;
}

.link {
	color: #0669fe;
	text-decoration: underline;
}

.click {
	cursor: pointer;
}

.click:hover {
	color: #0669fe;
}

.quotation-container input:not([readonly]) {
	background-color: #15824c36;
}